.admin{
	clear: both;
}

.admin .navbar-inverse.navbar .dropdown-menu .active>a,
.admin .navbar-inverse.navbar {
	background-color: #0080bf;
}

.admin .navbar-inverse.navbar .dropdown-menu li>a:hover, 
.admin .navbar-inverse.navbar .dropdown-menu li>a:focus{
	color: #0080bf;
}

.admin a, 
.admin a:hover,
.admin a:focus {
	color: #337ab7;
}

.admin .btn-primary:not(.btn-link):not(.btn-flat){
	background-color: #337ab7;
}

.admin .form-control,
.admin .form-group .form-control:focus, 
.admin .form-group-default .form-control:focus {
	background-image: linear-gradient(#337ab7,#337ab7),linear-gradient(#d2d2d2,#d2d2d2);
}

.admin .btn-group>.btn.active{
	background-color: #0080bf;
	color: #ffffff;
}

.adviceCategoryFilter{
	float: right;
	margin: 4px 0 0 0;
}

.adviceList.list-group .list-group-item .row-content {
	min-height: 28px;
}
.adviceList.list-group .list-group-item .row-content .least-content{
	right: 0;
}
.adviceList.list-group .list-group-item .row-picture i, 
.adviceList.list-group .list-group-item .row-action-primary i{
	background: none;
	border-radius: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	color: inherit;
}
.adviceList.list-group .list-group-separator:before {
	width: calc(100% - 64px);
}
.adviceList.list-group .list-group-item .list-group-item-heading{
	line-height: 28px;
	font-size: 18px;
}
.adviceList.list-group .list-group-item .action-content{
	margin-right: -61px;
}
.adviceList.list-group .list-group-item .action-content>.btn{
	float: right;
	margin-bottom: 0;
}