body{
	/*background-color: #F5F5F5;*/
}

.container {
	margin: 40px !important;
	padding: 0 !important;
	width: auto !important;
}

a:focus, a:hover{
	color: #2196F3;
}

.catalogTitle{
	float: left;
	width: 100%;
	margin-bottom: 100px;
}
.catalogTitlePic,
.catalogTitleText{
	width: 40%;
	float: left;
}
.catalogTitleText{
	float: right;
	text-align: right;
	margin-top: 0;
}
.catalogSection>div{
	float: left;
	width: 50%;
}
.catalogList{
	margin-bottom: 60px;
	float: left;
  	width: 90%;
}
.catalogListTitle{
	width: 100%;
	font-size: 28px;
	border-bottom: 14px solid #000000;
	padding-bottom: 8px;
	margin-bottom: 14px;
}

.jiedumeishi .textHeader,
.xinkandian .textHeader{
	color: #795548;
}
.jiedumeishi .kandianSection,
.xinkandian .kandianSection{
	border-bottom: 1px solid #ddd;
  	padding: 16px 0px;
}
.jiedumeishi .picText,
.xinkandian .picText{
	font-size: 12px;
}
.kandianText{
	line-height: 22px;
}
.textHeader .shortDesc{
	font-size: 12px;
	line-height: 24px;
	margin-top: 25px; 
}
.parts .partTitle{
	margin-top: 40px;
	border-bottom: 1px solid #795548;
	color: #795548;
	font-size: 20px;
}
.parts .partText{
	font-size: 12px;
	line-height: 20px;
}
.parts .blockTitle{
	margin: 16px 0;
	color: #795548;
	font-weight: bold;
}
.parts .blockText{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 40px;
}

.parts .subBlockTitle{
	border-bottom: 1px solid #795548;
	color: #795548;
	font-size: 12px;	
	font-weight: bold;
	margin: 20px 0 10px;
}

.parts .subBlockText{
	font-size: 12px;	
}

.parts .partBadge{
	background-color: #795548;
	display: inline-block;
	color: #fff;
	padding: 1px 10px;
	text-align: center;
	border-radius: 10px;
}
.parts .partBadgeText{
	font-size: 12px;
	font-weight: bold;
	margin-top: 6px;
}
.parts .keywords{
	font-size: 10px;
	margin-top: 10px;
}

.parts .qushiItem{
	margin-bottom: 15px;
}

.shimutekan>.catalogListTitle{
	border-bottom-color: #8D6E63; 
}
.jingpintuijian>.catalogListTitle{
	border-bottom-color: #BDBDBD;
}
.meishitekan>.catalogListTitle{
	border-bottom-color: #F57C00;
}
.ruanchuangchuangdian>.catalogListTitle{
	border-bottom-color: #F48FB1;
}
.shafa>.catalogListTitle{
	border-bottom-color: #64B5F6;
}
.banmujiaju>.catalogListTitle{
	border-bottom-color: #607D8B;
}
.ertongqingshaonian>.catalogListTitle{
	border-bottom-color: #8BC34A;
}
.shimujiaju>.catalogListTitle{
	border-bottom-color: #795548;
}
.hongmujiaju>.catalogListTitle{
	border-bottom-color: #8D6E63;
}
.huangyexinxi>.catalogListTitle{
	border-bottom-color: #FFF176;
}
.xinmeishi>.catalogListTitle{
	border-bottom-color: #01579B;
}
.gudianoumei>.catalogListTitle{
	border-bottom-color: #DD2C00;
}
.catalogItem{
	float: left;
	width: 100%;
	font-size: 18px;
	color: #424242;
	line-height: 30px;
}
.catalogText{
	margin-bottom: 20px;
}
.backCatalogBtn{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}
.category{
	width: 200px;
	height: 180px;
	margin-left: -40px;
	padding-left: 20px;
	border-left: 30px solid #000000;
}
.meishitekan .category{
	width: 250px;
}
.categoryContainer{
	width: 350px;
}
.brandContainer{
	width: 55%;
}
.picContainer{
	margin-bottom: 40px;
	text-align: center;
}
.shimutekan .category{
	border-left-color: #8D6E63;
}
.shimutekan .category>div{
	color: #8D6E63;
	text-align: center;
}
.qingshaonian .category{
	border-left-color: #8BC34A;
}
.qingshaonian .category>div{
	color: #8BC34A;
	text-align: center;
}
.banmujiaju .category{
	border-left-color: #607D8B;
}
.banmujiaju .category>div{
	color: #607D8B;
	text-align: center;
}
.shimujiaju .category{
	border-left-color: #795548;
}
.shimujiaju .category>div{
	color: #795548;
	text-align: center;
}
.xinmeishi .category{
	border-left-color: #01579B;
}
.xinmeishi .category>div{
	color: #01579B;
	text-align: center;
}
.hongmujiaju .category{
	border-left-color: #8D6E63;
}
.hongmujiaju .category>div{
	color: #8D6E63;
	text-align: center;
}
.gudianoumei .category{
	border-left-color: #DD2C00;
}
.gudianoumei .category>div{
	color: #DD2C00;
	text-align: center;
}
.jingpintuijian .category{
	border-left-color: #BDBDBD;
}
.jingpintuijian .category>div{
	color: #BDBDBD;
	text-align: center;
}
.meishitekan .category{
	border-left-color: #F57C00;
}
.meishitekan .category>div{
	color: #F57C00;
	text-align: center;
}
.ruanchuangchuangdian .category{
	border-left-color: #F48FB1;
}
.ruanchuangchuangdian .category>div{
	color: #F48FB1;
	text-align: center;
}
.shafa .category{
	border-left-color: #64B5F6;
}
.shafa .category>div{
	color: #64B5F6;
	text-align: center;
}

.categoryText{
	font-size: 40px;
	line-height: 60px;
}
.contact{
	border: 1px solid #000000;
	padding: 10px 20px;
	margin-top:40px;
	margin-right: 30px;
}
.contact .contactCol1{
	text-align: right;
	width: 105px;
	padding-right: 20px;
	vertical-align: top;
}
.contact .contactCol2{
	width: 200px;
}
.containerTop{	
    margin-bottom: 40px;
    float: left;
    width: 100%;
}
.shimutekan .contact{
	border-color: #8D6E63;
	color: #8D6E63;
}
.gudianoumei .contact{
	border-color: #DD2C00;
	color: #DD2C00;
}
.xinmeishi .contact{
	border-color: #01579B;
	color: #01579B;
}
.hongmujiaju .contact{
	border-color: #8D6E63;
	color: #8D6E63;
}
.banmujiaju .contact{
	border-color: #607D8B;
	color: #607D8B;
}
.shimujiaju .contact{
	border-color: #795548;
	color: #795548;
}
.shimujiaju .contact{
	border-color: #01579B;
	color: #01579B
}
.meishitekan .contact{
	border-color: #F57C00;
	color: #F57C00;
}
.ruanchuangchuangdian .contact{
	border-color: #F48FB1;
	color: #F48FB1;
}
.shafa .contact{
	border-color: #64B5F6;
	color: #64B5F6;
}
.brandInfo{
	color: #666666;
}
.brandTitle{
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}
.brandHeader{
	font-weight: bold;
	color: #000000;
	margin: 20px 0 0 0;
}
.brandPic{
	width: 75%;
	margin: 0 0 5px 0;
}
.shimutekan .brandTitle{
	color: #8D6E63;
}
.meishitekan .brandTitle{
	color: #F57C00;
}
.xingye .brandLogo>img{
	width: 250px;
}
.huifeng .brandLogo>img{
	width: 150px;
}
.huarijiaju .brandLogo>img{
	width: 400px;
}
.liangmu .brandLogo>img{
	width: 200px;
}
.nanyanghushi .brandLogo>img{
	width: 200px;
}
.beimeizhijia .brandLogo>img{
	width: 200px;
}
.yonghe .brandLogo>img{
	width: 200px;
}
.dusha .brandLogo>img{
	width: 400px;
}
.nanyanghushi-ailun .brandLogo>img{
	width: 200px;
}
.jianwei .brandLogo>img{
	width: 200px;
}
.xingye-youmei .brandLogo>img{
	width: 200px;
}
.dibiao .brandLogo>img{
	width: 200px;
}
.mpe .brandLogo>img{
	width: 200px;
}
.renhaomodika .brandLogo>img{
	width: 150px;
}
.sikexin .brandLogo>img{
	width: 200px;
}
.anman .brandLogo>img{
	width: 200px;
}
.chengshizhichuang .brandLogo>img{
	width: 200px;
}
.dechi .brandLogo>img{
	width: 190px;
}
.qingshaonian .brandLogo>img{
	width: 200px;
}
.shimujiaju .brandLogo>img{
	width: 200px;
}
.xinmeishi .brandLogo>img{
	width: 200px;
}
.hongmujiaju .brandLogo>img{
	width: 200px;
}
.gudianoumei .brandLogo>img{
	width: 200px;
}
.shuda .brandLogo>img{
	width: 150px;
}
.bosen .brandLogo>img{
	width: 200px;
}

.picContainer.absolute{
	position: absolute;
	left: 0;
	top: 0;
}
.picContainer.absolute>div{
	position: relative;
}
.categoryContainer.absolute{
	z-index: 10;
	position: absolute;
}

.infoTableDiv>h4{
	text-align: right;
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
}
.infoTableDiv>table{
	float: right;
}
.infoTableDiv>table .infoCol1{
	text-align: right;
	min-width: 115px;
	padding-right: 10px;
	vertical-align: top;
}
.factoryInfo,
.productInfo,
.shopInfo,
.hotlineInof,
.cityInfo,
.bizInfo{
	font-size: 13px;
}